body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0d00ff;
  color: #333;
  backdrop-filter: blur(50%);
}

h1, h2, h3 {
  color: #333;
}

button {
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}


